* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

/* common classes css */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p,
a {
  font-family: "Roboto", sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* max-width: 1330px; */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clear {
  clear: both;
}

.active {
  width: 40% !important;
  z-index: 20 !important;
}

.menu-hide {
  display: inline-block !important;
}
/* sidebar css */
section#sidebar {
  width: 20%;
  height: 100%;
  background-image: linear-gradient(
      rgba(155, 60, 183, 0.9),
      rgba(255, 57, 111, 0.9)
    ),
    url("../images/water.jpg");
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 0.5s ease;
  z-index: 99;
}

.sidebar-brand {
  padding: 50px 40px;
}

.sidebar-menu ul li a {
  padding: 12px 40px;
  display: block;
  color: white;
}

.sidebar-menu {
  margin-top: 50px;
}

.sidebar-menu ul li {
  transition: all 0.5s ease;
}

.sidebar-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-menu ul li span {
  padding: 10px;
}

section#main-content {
  width: 80%;
  float: right;
}

i.fa.fa-bars {
  margin-right: 8px;
}

header.main-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 10px 20px #bbb;
}

.header-left {
  float: left;
  width: 33%;
  padding: 20px;
}

.header-left img {
  width: 35px;
  height: 35px;
  float: left;
  border-top-left-radius: 125px;
  border-bottom-right-radius: 125px;
  border-top-right-radius: 125px;
  border-bottom-left-radius: 125px;
  margin-right: 10px;
}

.header-left p {
  color: #bbb;
}

input.search-bar {
  border-radius: 50px;
  width: 50%;
  padding: 10px 10px;
  border: 2px solid #bbb;
  transition: all 0.5s ease;
}

input.search-bar:focus {
  outline: none;
  border: 2px solid #fd5a5e;
  width: 95%;
  margin-left: -150px;
}

i.fa.fa-search {
  background-color: #fd5a5e;
  color: white;
  height: 38px;
  width: 37px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  line-height: 37px;
  text-align: center;
  margin-left: -37px;
}

/* main contetnt info */

.card-box {
  margin-top: 120px;
  float: left;
  width: 21%;
  background: linear-gradient(45deg, #ff5252 0%, #f48fb1 100%);
  padding: 25px;
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  font-weight: bold;
}

.cus-num {
  position: relative;
}

.cus-h:after {
  content: "\f0c0";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
}

.cus-pro:after {
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
}

.cus-ord:after {
  content: "\f233";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
}

.cus-inc:after {
  content: "\f09d";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0;
}

.content-pro-par {
  margin: 6% 2% 0% 2%;
}

table td {
  padding: 20px 0px 0px 0px;
}

table th {
  text-align: left;
}

.pro-table {
  width: 62%;
  background-color: white;
  float: left;
  box-shadow: 10px 10px 20px #bbb;
  padding: 15px;
}

.cus-table {
  width: 35%;
  background-color: white;
  float: right;
  box-shadow: 10px 10px 20px #bbb;
  padding: 15px;
}

span.rev-span {
  width: 10px;
  height: 10px;
  background-color: #fd5a5e;
  display: inline-block;
  border-radius: 10px;
  margin-right: 8px;
}

span.progress-span {
  width: 10px;
  height: 10px;
  background-color: green;
  display: inline-block;
  border-radius: 10px;
  margin-right: 8px;
}

span.pending-span {
  width: 10px;
  height: 10px;
  background-color: rgba(128, 0, 128, 0.959);
  display: inline-block;
  border-radius: 10px;
  margin-right: 8px;
}

.rec-h {
  float: left;
}

.rec-btn {
  float: right;
}

.rec-pro {
  margin-bottom: 20px;
}

.rec-btn button {
  color: white;
  padding: 8px;
  background-color: #fd5a5e;
  width: 75px;
  height: 40px;
  border: navajowhite;
  /* line-height: 40px; */
  cursor: pointer;
  border-radius: 8px;
}

td.td-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

td.td-cnt-i i {
  color: #fd5a5e;
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .card-box {
    float: none;
    width: 100%;
    margin: 0px auto 20px auto;
    padding: 10px 20px;
  }

  .main-content-info {
    margin-top: 130px;
  }

  .cus-num:after {
    top: 10px;
  }

  .pro-table {
    float: none;
    width: 100%;
    margin: 0 auto;
  }

  .cus-table {
    float: none;
    width: 100%;
    margin: 20px auto;
  }

  table td {
    font-size: 14px;
  }
  .rec-h h2 {
    font-size: 18px;
  }

  .rec-btn button {
    font-size: 11px;
    width: 60px;
    height: 30px;
    /* line-height: 30px; */
  }

  .search-div {
    display: none;
  }

  .header-left {
    float: left;
    width: 50%;
  }

  .header-left h2 {
    font-size: 20px;
  }

  section#sidebar {
    width: 16%;
  }

  section#main-content {
    width: 84%;
  }

  .sidebar-menu ul li a {
    padding: 10px 22px;
  }

  .sidebar-menu ul li span {
    display: none;
  }
  .sidebar-brand span {
    display: none;
  }

  .sidebar-brand {
    padding: 20px 0px 20px 20px;
  }
}
